@model Project_Try1.Models.Quiz

@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <span> PIN: @Model.ID </span>        
    </div>
</body>
</html>
