.quiz {
    border: 1px solid black;
    width: 100%;
    height: 200px;
    margin-right: 10px;
}

    .quiz div {
        float: left;
        width: 30%;
        height: 100%;
    }

.imgContainer {
    font-size: 16px;
}

.creator {
    font-style: italic;
    font-weight: bold;
}

#search form {
    padding-left: 35%;
    padding-bottom: 10%;
    padding-top: 5%;
    font-size: 25px;
}


.title {
    color: crimson;
    font-size: 24px;
}


.control {
    text-align: right;
}

img {
    width: 100%;
    height: 100%;
}

.navbar-default {
    background-color: rgb(3, 55, 168);
}

.main-menu * {
    font-family: 'Righteous', cursive !important;
    color: white !important;
}

.navbar-brand {
    padding-left: 30px;
    font-size: 30px !important;
}

.search-bar {
    height: 50px;
    margin: 50px 0 50px 0;
}

.quiz-title-myquiz {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: darkslategrey;
}

.navBtn{
    font-size: 23px;
}


.quiz-in-my-quiz {
    padding: 20px;
    border-radius: 5px;
    border: 0.5px solid gainsboro;
    margin-bottom: 20px;
    margin-right: 5%;
    background-color: white;
    box-shadow: 4px 5px rgb(239, 240, 242);
}

.quiz-in-my-quiz:hover {
        transform: scale(1.05);
        background-color: rgb(224, 221, 219);
        z-index: 2;
    }

.form-horizontal {
    padding-top: 30px;
    padding-bottom: 30px;
}

.img-my-quiz {
    height: 200px;
}

.form-horizontal input {
    width: 100%;
    height: 60px;
    max-width: none;
    border-bottom: 0.5px solid gainsboro;
    color: gray;
    font-weight: lighter;
    font-family: 'Thasadith', sans-serif;
    font-size: 22px;
}

.butt {
    background-color: transparent;
    border: none;
    height: 60px;
    width: 60%;
    line-height: 60px;
    text-align: center
}

    .butt > i {
        font-size: 45px;
        width: 100%;
        height: 100%;
    }

.div-form-create-question {
    margin-top: 30px;
    padding: 50px 0;
    border-radius: 10px;
    background-color: white;
    box-shadow: gainsboro 5px 5px;
}

.select-right-answers {
    margin-bottom: 30px;
    padding: 0 5px;
    width: 300px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    box-shadow: antiquewhite 5px 5px;
    font-size: 25px;
    font-family: 'Righteous';
    text-align: center;
}

    .select-right-answers * {
        font-size: 25px;
        font-family: 'Righteous';
    }

    .select-right-answers:hover {
        transform: scale(1.2);
    }

#err-input {
    font-size: 25px;
    font-family: 'Righteous';
}
