
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginFail</title>
</head>
<body>
    <div> 
        <h2>Login Fail!!!</h2>
        <a href="~/Register/Register">You don't have account yet?</a><br/>
        <a href="~/Login/Index">Try Again</a><br/>
                    
    </div>
</body>
</html>
