@model List<Project_Try1.Models.Quiz>

@foreach (var item in Model) {
    <div class="quiz-home col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="thumbnail">
            <div class="caption text-center">

                <img src="~/resources/images/QuizImages/@item.Image" class="img" />
                <h3 class="quiz-title">@item.Title</h3>

                <p class="creator-play-butt">
                    <div class="row text-center">
                        <span class="col-xs-12 col-md-6 text-right" style="color: grey">By <font style="font-weight: bolder; color: black">@item.Creator</font></span>
                        <span class="col-xs-12 col-md-6 text-left">Plays: <font color="red">@item.Plays</font></span>
                    </div>
                    
                    @using (Html.BeginForm("Play", "PlayQuiz", FormMethod.Post, new { style = "display: inline-block;" })) {
                        <input type="hidden" name="quizID" value="@item.ID" /><br />
                        <input class="btn btn-danger" type="submit" value="Play" />
                    }
                </p>

            </div>

        </div>
    </div>

}