<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>    
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                
                @Html.ActionLink("Home", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("My Library", "index", "MyQuiz", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Create my Quiz", "Index", "CreateQuiz", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <h2 id="pageHeader">Top Quizes in the World</h2>
    <div class="container">
        <div class="row1">                          
           @foreach (var item in ViewBag.QuizBank) {
               <div class="quiz">
                   <div class="title">
                       <span>@item.Title </span><br/>
                       <span><a>PLAY</a></span>
                   </div>
                   <div class="imgContainer">
                       <img class="img" src="~/resources/images/QuizImages/@item.Image"/>
                   </div>
               </div>
           }
        </div>
    </div>
</body>
</html>
