
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/playGame.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/play_client.css" rel="stylesheet" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Open+Sans+Condensed:300|Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan" rel="stylesheet">

    
</head>
<body>
    
    <div id="waitingForAns">
        ARE YOU TOO FAST? Wait a sec to see result!!!! 
    </div>

    <div id="ready">
        Waiting for playing
    </div>
    <div id="main-question" class="container text-center">
        <div class="row main-frame">
            <div class="col-xs-12 col-md-5 img-question-play">
                <img id="image" class="img-responsive" src="~/resources/images/QuestionImages/huong.jpg" />

            </div>
            <div class="col-xs-12 col-md-7 row ans-father ">
                <div class="row  text-center">
                    <div id="timer-counter">                                                
                    </div>
                </div>
                <div id="content" style="font-size: 40px; padding: 20px 0; font-weight: normal" class="row quiz-title"></div>


                <div id="ans1" onclick="checkResult(this)" style="background-color: red; color: white" class="row ans"></div>
                <div id="ans2" onclick="checkResult(this)" style="background-color: green; color: white" class="row ans"></div>
                <div id="ans3" onclick="checkResult(this)" style="background-color: blue; color: white" class="row ans"></div>
                <div id="ans4" onclick="checkResult(this)" style="background-color: darkviolet; color: white" class="row ans"></div>
                
                <div id="selectedAns"></div>
            </div>

        </div>
    </div>

    <div id="status">
        
    </div>
    
    
</body>
</html>
