
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <div id="#players">
        <ul id="discussion"></ul>
    </div>

    <script>
        $(function () {
            var mainHub = $.connection.mainHub;
            
            mainHub.client.receiveQuestion = function (question) {                
                $('#discussion').append('<li><strong>' + htmlEncode(question)
                    + '</strong>: ' + '</li>');
            }; 
            
            $.connection.hub.start().done(function () {
                mainHub.server.acceptPlayers();                                
            });
        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
</body>
</html>
